<%= render "shared/third-header" %>
<%= render "shared/second-header" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="form-wrap">
  <div class='form-header'>
    <h1 class='form-header-text'>
      新規登録
    </h1>
  </div>
<%= render 'shared/error-messages', model: f.object %>
  <div class="field top-field">
    <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"ニックネーム（必須）" %>
  </div>

  <div class="field">
    <div class='form-text-wrap'>
      <label class="form-text">性別（必須）</label>
    </div>
    <%= f.label :男性 %>
    <%= f.radio_button :gender, :男性 %>
    <%= f.label :女性 %>
    <%= f.radio_button :gender, :女性 %>
    <%= f.label :その他 %>
    <%= f.radio_button :gender, :その他 %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder:"メールアドレス（必須）" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード（必須 6文字以上）" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード（確認用）" %>
  </div>

  <div class="field">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日（必須）</label>
    </div>
    <div class='input-birth-wrap'>
      <%= f.date_field :birthday, id:"birthday" %>
    </div>
  </div>

  <div class="field">
    <p class="form-text">
      プロフィール画像（任意）
    </p>
    <%= f.file_field :image, id:"profile-image" %>
  </div>

  <div class="field">
    <%= f.text_area :introduce, class:"profile-text input-default", id:"profile-info", placeholder:"自己紹介（任意 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
</div>
<% end %>
<%= render "shared/footer" %>