<header class='top-page-header'>
  <%= link_to root_path do %>
    <i class="fas fa-chess-king"></i>
  <% end %>
  <%# 検索バー %>
  <div class='search-bar-contents'>
    <%= form_with url: name_search_posts_path, method: :get, class:"search-form", local: true do |form|  %>
      <%= form.text_field :keyword, placeholder:'商品名から探す', class:'input-box' %>
      <div class="search-button">
        <label id="btn-label">
          <%= form.submit id:"btn-label", class:"btn-hidden" %>
          <i class="fas fa-search"></i>
        </label>
      </div>
    <% end %>
  </div>
  <%# /検索バー %>
  <%# ユーザー登録 %>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "login" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
  <%# /ユーザー登録 %>
  <%# 投稿ボタン %>
  <div class='post-btn'>
    <a href="/posts/new">
      <i class="fas fa-pencil-alt"></i>
      <span class='post-btn-text'>投稿する</span>
    </a>
  </div>
  <%# /投稿ボタン %>
</header>