<ul class="post-lists">
<% @posts.each do |post| %>
  <li class='list'>
    <%= link_to post_path(post.id), class:"post-link" do %>
    <div class='post-img-content'>
      <%= image_tag post.image, class: "post-img" %>
    </div>
    <div class="post-info-contents">
      <div class='post-info1'>
        <h3 class='post-name'>
          商品名：<%= post.name %>
        </h3>
        <div class="post-evaluation">
          <%# <span>評価：</span> %>
            <span id="star-rate-<%= post.id %>"></span>
            <script>
              $('#star-rate-<%= post.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= post.evaluation %>,
              });
            </script>
            <%= post.evaluation %>
        </div>
        <div class="post-nickname show-sub">
          <%= post.user.nickname %>さん
        </div>
        <div class='item-price'>
          <span><%= post.price %>円(税込み)</span>
        </div>
      </div>
      <div class="post-info2">
        <div class="post-date show-sub">
          <%= post.created_at.strftime("%Y.%m.%d") %>
        </div>
      </div>
    </div>
    <% end %>
  </li>
<% end %>
</ul>