<%= render "shared/third-header" %>
<span><%= render "shared/second-header" %></span>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-wrap">
  <div class='form-header'>
    <h1 class='form-header-text'>
      ログイン
    </h1>
  </div>
  <div class='login-flash-message login-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="field top-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
</div>
<% end %>
<%= render "shared/footer" %>