<%= render "shared/second-header" %>
<div class="reviews-post-contents">
  <%= form_with model: @post, local: true do |f| %>
  <div class="reviews-post-main">
    <h2 class="reviews-post-title">クチコミの編集</h2>
    <%= render 'shared/error-messages', model: f.object %>
    <%# 口コミ商品の画像 %>
    <div class="field img-upload top-field">
      <div class="click-upload">
        <p class="weight-bold-text">
          画像を追加（必須）
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
      <div id="image-list"><%= image_tag @post.image, id:"item-img" %></div>
    </div>
    <%# /口コミ商品の画像 %>
    <%# 商品名と商品説明 %>
    <div class="field new-items">
      <div class="weight-bold-text">
        商品名（必須）
      </div>
      <%= f.text_area :name, class:"items-text input-default", id:"item-name", placeholder:"（必須 50文字まで）", maxlength:"50" %>
    </div>
    <div class="field items-explain">
      <div class="weight-bold-text">
        レビュー（必須）
      </div>
      <%= f.text_area :description, class:"items-text input-default", id:"item-info", placeholder:"（必須 1,000文字まで  つけ心地、効能・効果、コスパ、オススメの使い方など）" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <%# /商品名と商品説明 %>

      <div class="field">
        <%# <div class="weight-bold-text">
          カテゴリー
        </div> %>
        <%#= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <%# <div class="listing-form-box">
          <div class="listing-product-detail__category"> %>
            <%#= f.label 'カテゴリー', class: 'listing-default__label' %>
            <%# <div class="listing-select-wrapper">
              <div class="listing-select-wrapper__box"> %>
                <%#= f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'} %>
              <%# </div>
            </div>
          </div>
        </div> %>
        <div class="append__category">
          <div class="category">
            <div class="form__label">
              <div class="weight-bold-text lavel__name ">
                カテゴリー（必須）
              </div>
              <div class="lavel__Required">
                <%= f.collection_select :category_id, @parents, :id, :name,{ include_blank: "選択してください"},class:"serect_field", id:"item_category_id" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="weight-bold-text">
          商品の評価（必須）
        </div>
        <div class="field" id="star">
          <%= f.label :evaluation, "星評価：" %>
          <%= f.hidden_field :evaluation, id: :review_star %>
        <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[evaluation]',
              half: true,
            });
        </script>
        </div>
      </div>

    <div class="field buy-shop">
      <div class="weight-bold-text">購入店（任意）</div>
      <div>
        <%= f.text_field :shop_name, class:"shop-name-input", placeholder:"（任意 50文字まで）" %>
      </div>
    </div>

    <%# 購入価格 %>
    <div class="field buy-price">
      <div class="weight-bold-text question-text">
        <span>購入価格（必須）<br>(¥0〜9,999,999)</span>
      </div>
      <div class="price-content">
        <div class="price-text">
          <span class="buy-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>
    <%# /購入価格 %>

    <%# 下部ボタン %>
    <div class="actions">
      <%= f.submit "変更を保存" %>
    </div>
    <%# /下部ボタン %>
    <div class="back-btn">
      ＜ <%=link_to '内容を変更せずに戻る', post_path(@post.id) %>
    </div>
  </div>
  <% end %>
</div>
<%= render "shared/footer" %>