<%= render "shared/header" %>
<% breadcrumb :posts %>
<%= render "shared/breadcrumbs" %>
<div class="main-contents">
  <%# カテゴリー一覧 %>
  <%= render "shared/category-search" %>
  <%# /カテゴリー一覧 %>
  <div class='item-contents'>
    <h2 class='title'>クチコミ一覧</h2>
    <%# クチコミ一覧 %>
    <%= render "shared/posts" %>
    <%# /クチコミ一覧 %>
    <%= paginate @posts %>
  </div>
</div>
<%= render "shared/footer" %>