<%= render "shared/header" %>
<%= render "shared/sumaho-header" %>
<div id="main">
<input id="menu" type="checkbox">
<label for="menu" class="back"></label>
<%= render "shared/side-bar" %>
<% breadcrumb :name_search, @keyword %>
<%= render "shared/breadcrumbs" %>
</div>
<div class="main-contents">
  <%# カテゴリー一覧 %>
  <%= render "shared/category-search" %>
  <%# /カテゴリー一覧 %>
  <div class='item-contents'>
    <% if @keyword == "" %>
      <h2 class='title'>検索結果</h2>
    <% else %>
      <h2 class='title'>「<%= @keyword %>」の検索結果</h2>
    <% end %>
    <% if @posts.empty? %>
      <p class="none-posts">該当するクチコミが見つかりません。検索条件を変えて、再度お試しください。</p>
    <% end %>
    <%# クチコミ一覧 %>
    <%= render "shared/posts" %>
    <%# /クチコミ一覧 %>
    <%= paginate @posts %>
  </div>
</div>
<%= render "shared/footer" %>