<%= render "shared/header" %>
<% if @category.root? %>
<% breadcrumb :parent_category %>
<% elsif @category.has_children? %>
<% breadcrumb :child_category %>
<% else %>
<% breadcrumb :grandchild_category %>
<% end %>
<%= render "shared/breadcrumbs" %>
<div class="main-contents">
  <%# カテゴリー一覧 %>
  <%= render "shared/category-search" %>
  <%# /カテゴリー一覧 %>
  <div class='item-contents'>
    <h2 class='title'><%= @category.name %></h2>
    <% if @posts.empty? %>
      <p class="none-posts">該当するクチコミが見つかりません。検索条件を変えて、再度お試しください。</p>
    <% end %>
    <%# クチコミ一覧 %>
    <%= render "shared/posts" %>
    <%# /クチコミ一覧 %>
  </div>
</div>
<%= render "shared/footer" %>