<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      メンズコスメ<br>クチコミサイト
    </h2>
    <div class="service-paragraph">
      <p class='service-explain1'>
        気になるコスメが見つかる！
      </p>
      <p class='service-explain2'>
        使用感を投稿しよう！
      </p>
    </div>
  </div>

  <div class="main-contents">
  <%# 最新の投稿3件 %>
  <div class='item-contents'>
    <h2 class='title'>最新の投稿</h2>
    <ul class="post-lists">
    <% num = 0 %>
      <% @posts.each do |post| %>
      <% num += 1 %>
      <% if num <= 3 %>
        <li class='list'>
          <%= link_to post_path(post.id), class:"post-link" do %>
          <div class='post-img-content'>
            <%= image_tag post.image, class: "post-img" %>
          </div>
          <div class="post-info-contents">
            <div class='post-info1'>
              <h3 class='post-name'>
                商品名：<%= post.name %>
              </h3>
              <div class="post-evaluation">
                <span>評価：</span>
                  <span id="star-rate-<%= post.id %>"></span>
                  <script>
                    $('#star-rate-<%= post.id %>').raty({
                      size: 36,
                      starOff: "<%= asset_path('star-off.png') %>",
                      starOn: "<%= asset_path('star-on.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= post.evaluation %>,
                    });
                  </script>
                  <%= post.evaluation %>
              </div>
              <div class="post-nickname">
                <%= post.user.nickname %>さん
              </div>
              <div class='item-price'>
                <span><%= post.price %>円(税込み)</span>
              </div>
            </div>
            <div class="post-info2">
              <div class="post-date">
                更新日時：<%= post.created_at.strftime("%Y.%m.%d") %>
              </div>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  <%= link_to '投稿一覧', posts_path %>
  </div>
  <%# 最新の投稿3件 %>

  <%# カテゴリー一覧 %>
  <div class="item-categories">
    <h2>
      カテゴリー一覧
    </h2>
    <ul>
    <% @categories.each do |category| %>
      <li>
      <%= link_to do %>
        <%= category.name %>
      <% end %>
      </li>
    <% end %>
  </div>
  </ul>
  <%# /カテゴリー一覧 %>
  </div>
</div>